django.conf.urls
django.test
django.db.models
django.shortcuts
django.contrib.auth
django.contrib.contenttypes
django.contrib.sessions
django.contrib.sites
django.contrib.messages
django.contrib.staticfiles
django.core.management
