<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Django Settings</title>
	{% load static %}
	<link rel="stylesheet" href='{% static "css/style.css" %}' type="text/css" media="screen" />
</head>
<body>
	<div id="container" width="100%">
		<table>
			<tr>
				<th colspan=2 align='left'>Django Settings</th>
			</tr>
			{% for k, v in settings.items %}
			<tr>
				<td>{{ k }}</td>
				<td>{{ v }}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</body>
</html>
