<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>My personal data</title>
	{% load static %}
	<link rel="stylesheet" href='{% static "css/style.css" %}' type="text/css" media="screen" />
</head>
<body>
	<div id="login" width="100%" align="right" style="margin-right: 175px;">
		<a href="/accounts/login/">Login</a>
	</div>
	<div id="container" width="100%">
	<table width="80%"><tr>
		<td width="50%"><div id="main_info" align="left" width="100%">
			<table width="100%">
				<tr width="100%">
					<td>Name</td>
					<td>{{ person.name }}</td>
				</tr>
				<tr>
					<td>Last name</td>
					<td>{{ person.last_name}}</td>
			    </tr>
			    <tr width="100%">
					<td>Date of birth</td>
					<td>{{ person.birth_date}}</td>
			    </tr>
			</table>
		</div></td>
			
		<td width="50%"><div id="contacts" align="right" width="100%">
			<table width="100%">
				<tr><th colspan=2 align="center" width="100%">Contacts</th></tr>
				<tr width="100%">
					<td>Email:</td>
					<td>{{ person.email }}</td>
				</tr>
				<tr width="100%">
					<td>Jabber:</td>
					<td>{{ person.jabber }}</td>
			    </tr>
			    <tr>
					<td>Skype:</td>
					<td>{{ person.skype }}</td>
			    </tr>
			</table>
		</div></td>
	</tr>
	<tr width="100%">
		
		<td id="photo" width="50%" height="100%"><table width="70%" height="100%">
			<tr width="100%" height="5%"><td>Photo:</td></tr>
			<tr width="100%" height="95%">
				<td width="100%" height="100%" style="border: medium solid;">
					<img src="/home/penguin/git/test/my_info/images/pic with a towel.png"></img>
				</td>
			</tr>
		</table></td>
		
		<td id="bio" width="50%"><table>
			<tr><td>Other contacts:</td></tr>
			<tr><td><textarea cols=70" rows=10 readonly>{{ person.other }}</textarea></td></tr>
			<tr><td>Bio:</td></tr>
			<tr><td><textarea cols=70 rows=20 readonly>{{ person.bio }}</textarea></td></tr>
		    
		</table></td>
		
	</tr><br>
	
	<tr>
		<td><a href="{% url http_requests:requests %}">requests</a></td>
	</tr>
	</table>
	<img src="{{ MEDIA_URL }}images/pic_with_a_towel.png"/>
	</div>
</body>
</html>
