<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>My personal data</title>
	{% load static %}
	<link rel="stylesheet" href='{% static "css/style.css" %}' type="text/css" media="screen" />
</head>
<body>
	<div id="container" width="100%">
	<table width="80%"><tr>
		<td width="50%"><div id="main_info" align="left" width="100%">
			<table width="100%">
				<tr width="100%">
					<td>Name</td>
					<td>{{ person.name }}</td>
				</tr>
				<tr>
					<td>Last name</td>
					<td>{{ person.last_name}}</td>
			    </tr>
			    <tr width="100%">
					<td>Date of birth</td>
					<td>{{ person.birth_date}}</td>
			    </tr>
			</table>
		</div></td>
			
		<td width="50%"><div id="contacts" align="right" width="100%">
			<table width="100%">
				<tr><th colspan=2 align="center" width="100%">Contacts</th></tr>
				<tr width="100%">
					<td>Email:</td>
					<td>{{ person.email }}</td>
				</tr>
				<tr width="100%">
					<td>Jabber:</td>
					<td>{{ person.jabber }}</td>
			    </tr>
			    <tr>
					<td>Skype:</td>
					<td>{{ person.skype }}</td>
			    </tr>
			</table>
		</div></td>
	</tr>
	<tr width="100%">
		<td><textarea cols=50 rows=50 readonly>Bio:{{ person.bio }}</textarea></td>
		<td><textarea align="left" cols=50" rows=50 readonly>Other contacts:{{ person.other }}</textarea></td>
	</tr>
	{% block addition %}{% endblock %}
	</table>
	</div>
</body>
</html>
