<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Http Requests</title>
	{% load static %}
	<link rel="stylesheet" href='{% static "css/style.css" %}' type="text/css" media="screen" />
</head>
<body>
	<div id="requests">
		<table>
			<tr>
				<th>Date of the request</th>
				<th>Path</th>
			</tr>
			{% for httprequeststorage in first_requests %}
			<tr>
				<td>{{ httprequeststorage.date }}</td>
				<td>{{ httprequeststorage.path }}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</body>
</html>

